services:
  michaelcard:
    image: nginx:alpine
    container_name: michaelcard
    restart: 'unless-stopped'
    networks:
      - proxy
    volumes:
      - '{{ michaelcard_web_content }}:/usr/share/nginx/html:ro'
    labels:
      traefik.enable: 'true'
      traefik.http.routers.michaelcard.rule: 'Host(`michael-card.{{ primary_domain }}`)'
      traefik.http.routers.michaelcard.entrypoints: 'websecure'

networks:
  proxy:
    name: proxy
    external: true