---
- name: Deploy a specific role to all hosts
  vars:
    deployment:
      telepovs:
        - aws
  hosts: "{{ deployment[role_to_deploy] }}"
  become: true
  roles:
    - role: "{{ role_to_deploy }}"
