services:
  clipcascade:
    image: sathvikrao/clipcascade:latest
    restart: 'no'
    container_name: clipcascade
    ports:
      - 8080:8080
    volumes:
      - '{{ clipcascade_data_dir }}:/database'
    environment:
      CC_MAX_MESSAGE_SIZE_IN_MiB: '{{ clipcascade_max_msg_mb }}'
      CC_P2P_ENABLED: '{{ clipcascade_p2p_enabled }}'
      # CC_ALLOWED_ORIGINS: "https://clipcascade.example.com"
      # CC_SIGNUP_ENABLED: "false"
    labels:
      traefik.enable: 'true'
      traefik.http.routers.clipcascade.rule: 'Host(`clipcascade.allrensys.com`)'
      traefik.http.routers.clipcascade.entrypoints: 'websecure'
      traefik.http.services.clipcascade.loadbalancer.server.port: '8080'
